#MapContainer {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 10px;
}

#map {
	border: none;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 0 0 0;
  width: auto;
  height: 100%;
}

body[orient="landscape"] .country-info-summary {
  width: 220px;
  height: 60px;
  top: -30px;
}

body[orient="portrait"] .country-info-summary {
  width: 110px;
  height: 140px;
  top: -70px;
}

#Welcome .information {
  background: white;
  border: 1px solid #bab0ba;
  margin: 2px;
  padding: 15px;
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  font: arial;
  font-size: 11px;
  color: #666666;
}

#Welcome .text {
  position: relative;
  top: -26px;
}

.row.ctr-logo {
  text-align: left;
}

.ctr-logo img {
  position: relative;
  left: 12px;
}

#Welcome blockquote {
  font-style: italic;
  margin-left: 20px;
  font-size: 12px;
}

#Welcome a {
  color: #333333;
}

body > .panel {
  top: 45px;
  bottom: 0;
}

#Welcome > ul > li {
  min-height: auto;
}

#Welcome > ul > li {
  position: relative;
  margin: 0;
  padding: 8px 0 8px 10px;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
}

#Welcome > ul > li > a {
  display: block;
  padding: 8px 32px 8px 10px;
  text-decoration: none;
  color: inherit;
}

#Welcome > ul li {
  text-align: left;
}

#Welcome > ul li a {
  background: url(t/default/listArrow.png) no-repeat right center;
}

#Welcome li > a[selected], li > a:active {
  background-image: url(t/default/listArrowSel.png), url(t/default/selection.png) !important;
}

#Welcome li > a[selected="progress"] {
  background-image: url(t/default/loading.gif), url(t/default/selection.png) !important;
}

#Navigation {
  position: absolute;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-top: 1px solid #2d3642;
  border-bottom: 1px solid #6d84a2;
  background: url(t/default/toolbar.png) #6d84a2 repeat-x;
  opacity: 0.9;
}

#Navigation > table {
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 1px solid #ccccd4;
  color: #666666;
  width: 100%;
}

#Navigation td {
  padding: 0;
}

#Navigation td > div {
  width: 50px;
  cursor: pointer;
  text-align: center;
  -moz-border-radius: 3px;
  padding: 2px;
}

#Navigation .symbol {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}

#Navigation .description {
  font-size: 8px;
}

#Navigation div[selected="true"] {
  background: url(/images/lighter-grad.png) top left repeat-x #777879;
  color: white;
  cursor: auto;
}

body > .dialog {
  top: 0;
  bottom: 0;
}

.row > label {
  left: 0;
}

.row > span {
  left: 0;
}
