#MapContainer {
  width: 100%;
  position: absolute;
  top: 45px;
  bottom: 0;
  min-height: 10px;
}

#map {
	border: none;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 0 0 0;
  width: auto;
  height: 100%;
}

body[orient="landscape"] .country-info-summary {
  width: 220px;
  height: 60px;
  top: -30px;
}

body[orient="portrait"] .country-info-summary {
  width: 110px;
  height: 140px;
  top: -70px;
}

#Welcome .information {
  background: white;
  border: 1px solid #bab0ba;
  margin: 2px;
  padding: 15px;
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  font: arial;
  font-size: 11px;
  color: #666666;
}

.ctr-logo {
  position: relative;
  top: -12px;
}

#Welcome blockquote {
  font-style: italic;
  margin-left: 20px;
  font-size: 12px;
}

#Welcome a {
  color: #333333;
}

body > .panel {
  top: 45px;
  bottom: 0;
}
