#MapContainer {
  width: 100%;
  position: absolute;
  top: 45px;
  bottom: 0;
  min-height: 10px;
}

#map {
	border: none;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 0 0 0;
  width: auto;
  height: 100%;
}
