#map {
  position: relative;
	background:#f0f0f0;
	
  width: auto !important;
	width: 100%;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
}
