#MapContainer {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 10px;
}

#map {
	border: none;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 0 0 0;
  width: auto;
  height: 100%;
}

#Welcome .information {
  background: white;
  border: 1px solid #bab0ba;
  margin: 2px;
  padding: 15px;
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  font: arial;
  font-size: 11px;
  color: #666666;
}

#Welcome .text {
  position: relative;
  top: -26px;
}

.row.ctr-logo {
  text-align: left;
}

.ctr-logo img {
  position: relative;
  left: 12px;
}

#Welcome a {
  color: #333333;
}

body > .panel {
  top: 45px;
  bottom: 0;
}

#Welcome > ul > li {
  min-height: auto;
}

#Welcome > ul > li {
  position: relative;
  margin: 0;
  padding: 8px 0 8px 10px;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
}

#Welcome > ul > li > a {
  display: block;
  padding: 8px 32px 8px 10px;
  text-decoration: none;
  color: inherit;
}

#Welcome > ul li {
  text-align: left;
}

#Welcome > ul li a {
  background: url(t/default/listArrow.png) no-repeat right center;
}

#Welcome li > a[selected], li > a:active {
  background-image: url(t/default/listArrowSel.png);
}

#Welcome li > a[selected="progress"] {
  background-image: url(t/default/loading.gif);
}

#Navigation {
  position: absolute;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-top: 1px solid #2d3642;
  border-bottom: 1px solid #6d84a2;
  background: url(t/default/toolbar.png) #6d84a2 repeat-x;
  opacity: 0.95;
}

#Navigation > table {
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 1px solid #ccccd4;
  color: #666666;
  width: 100%;
}

#Navigation td {
  padding: 0;
}

#Navigation td > div {
  width: 50px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px;
}

#Navigation .symbol {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}

#Navigation .description {
  font-size: 8px;
}

#Navigation div[selected="progress"] {
  background: url(t/default/loading.gif) 18px 16px no-repeat;
}

#Navigation div[selected="true"] {
  background: url(/images/lighter-grad.png) top left repeat-x #777879;
  color: white;
  cursor: auto;
}

body > .dialog {
  top: 0;
  bottom: 0;
}

#Report > fieldset {
  bottom: 0;
  position: absolute;
}

#Report fieldset > h1 {
  font-weight: normal;
  font-size: 12px;
  text-shadow: none;
}

#Report fieldset > div {
  margin: 8px 18px;
}

#Report fieldset > div:last-child {
  margin-top: 20px;
}

.row > label {
  left: 0;
}

.row > span {
  left: 0;
}
