html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: white;
	
	font-family: arial,sans-serif;
	font-size: small;
	color: #666;
}

#map {
  width: 640px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.country-overlay {
  position: absolute;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: arial, sans-serif;
}

.size-0 { font-size: 12px; }
.size-1 { font-size: 16px; }
.size-2 { font-size: 20px; }
.size-3 { font-size: 24px; }
.size-0.zoom-5 { font-size: 10px; }
.size-1.zoom-5 { font-size: 12px; }
.size-2.zoom-5 { font-size: 16px; }
.size-3.zoom-5 { font-size: 20px; }
.size-0.zoom-4 { font-size: 10px; }
.size-1.zoom-4 { font-size: 12px; }
.size-2.zoom-4 { font-size: 16px; }
.size-3.zoom-4 { font-size: 18px; }
.size-0.zoom-3 { font-size: 8px; }
.size-1.zoom-3 { font-size: 10px; }
.size-2.zoom-3 { font-size: 12px; }
.size-3.zoom-3 { font-size: 14px; }
.size-0.zoom-2 { font-size: 6px; }
.size-1.zoom-2 { font-size: 8px; }
.size-2.zoom-2 { font-size: 10px; }
.size-3.zoom-2 { font-size: 12px; }
.zoom-0 { display: none; }
.zoom-1 { display: none; }
