html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: white;
	
	font-family: arial,sans-serif;
	font-size: small;
	color: #666;
}

#map {
  width: 640px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.country-overlay {
  position: absolute;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: arial, sans-serif;
}

.size-0 { font-size: 12px; }
.size-1 { font-size: 16px; }
.size-2 { font-size: 20px; }
.size-3 { font-size: 24px; }
.size-0.zoom-5 { font-size: 10px; }
.size-1.zoom-5 { font-size: 12px; }
.size-2.zoom-5 { font-size: 16px; }
.size-3.zoom-5 { font-size: 20px; }
.size-0.zoom-4 { font-size: 10px; }
.size-1.zoom-4 { font-size: 12px; }
.size-2.zoom-4 { font-size: 16px; }
.size-3.zoom-4 { font-size: 18px; }
.size-0.zoom-3 { font-size: 8px; }
.size-1.zoom-3 { font-size: 10px; }
.size-2.zoom-3 { font-size: 12px; }
.size-3.zoom-3 { font-size: 14px; }
.size-0.zoom-2 { font-size: 6px; }
.size-1.zoom-2 { font-size: 8px; }
.size-2.zoom-2 { font-size: 10px; }
.size-3.zoom-2 { font-size: 12px; }
.zoom-0 { display: none; }
.zoom-1 { display: none; }

#country-info-summary-container {
  position: absolute;
  display: none;
}

.country-info-summary {
  position: relative;
  left: -50%;
  top: -45px;
  width: 200px;
  height: 90px;
  background: #FED5BF;
  border: 3px solid #FE8626;
  padding: 6px;
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  box-shadow: 15px -10px 15px #666666; 
  -moz-box-shadow: 15px -10px 15px #666666; 
  -webkit-box-shadow: 15px -10px 15px #666666; 
  font-size: 8pt;
}

.country-info-summary p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #666666;
}

.country-info-summary .link {
  position: absolute;
  bottom: 6px;
  right: 12px;
}

.country-info-summary a {
  text-decoration: none;
  color: black;
  float: right;
}
