html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: white;
	
	font-family: arial,sans-serif;
	font-size: small;
	color: #666;
}

#map {
  width: 640px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.country-info-summary {
  position: relative;
  left: -50%;
  top: -20px;
  white-space: nowrap;
  border: 2px solid #fe8626;
  background: white;
  padding: 3px;
  font-size: 0.8em;
}

.country-info-summary h1 {
  font-size: 1.4em;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin: 3px 0;
}

.country-info-summary ul {
  list-style-type: none;
}
