<h1>CTR Open Data Demo</h1>
<p>You're viewing this on a mobile device.  It's a...</p>
<div id="iphone" class="hidden">
iPhone!
</div>
<div id="android" class="hidden">
Android!
</div>
<div id="blackberry" class="hidden">
Blackberry!
</div>
<%= link_to "View map", countries_path %>
