<div class="toolbar">
  <h1 id="pageTitle">CTR Open Data Demo</h1>
  <%= link_to "", "#", :id => "backButton", :class => "button" %>   
  <%= link_to "View map", "#MapContainer", :class => "button" %>
</div>

<div id="Welcome" class="panel" selected="true" title="Welcome">
  <h2>
    This is a demo application from the World Bank, demonstrating the open data 
    soon to be available through Socrata.
  </h2>
  
  <p>
    The map on the next page shows all of the countries currently receiving loans 
    from the World Bank, using data hosted on Socrata.
  </p>
</div>

<div id="MapContainer" title="Map">
  <div id="map">
  </div>
</div>

