<% @projects.each do |project| %>
  <% unless project.has_multiple_loans? %>
    <li><%= link_to project.name, loan_path(:id => project.loans[0].id) %></li>
  <% else %>
    <li><%= link_to "#{project.name} (#{project.loans.size})", country_project_path(@country.id, project.id) %></li>
  <% end %>
<% end %>

<% unless @projects.current_page == @projects.total_pages %>
  <li><%= link_to "View more...", country_projects_path(@country.id, :page => @projects.current_page + 1), :target => "_replace" %></li>
<% end %>
