<!DOCTYPE html>
<html>
<head>
  <title>World Bank Loans</title>
  <%= stylesheet_link_tag 'world-bank-loans', :cache => false %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
